html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  
a {
text-decoration: none;
}

/* style */
body{
	font-family: Arial, Helvetica, sans-serif;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.top-wrapper{
	position: relative;
	background: url(../img/slide.jpg) rgba(0, 0, 0, 0.3);
	height: 100vh;
	background-size: cover;
	background-blend-mode: multiply;
}

.navbar{
	background-color: #fff;
	height: 100px;
	width: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 0 20px;
	position: fixed;
	z-index: 10;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar .logo {
	font-size: 30px;
	font-weight: 600;
	color: #ec523f;
	text-transform: uppercase;
}

.navbar-menu ul li {
	display: inline-block;
	margin: 0 20px;
}

.navbar-menu a {
	color: #444;
	font-size: 14px;
	padding-top: 37px;
	text-transform: uppercase;
}
.navbar-menu a.active {
	border-top: 3px solid #ec523f;
	color: #ec523f;
}

.top-wrapper h1{
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
}

.services-wrapper{
	height: 55%;
	padding-top: 100px;
	text-align: center;
}

.heading h1 {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 600;
	display: inline-block;
	border-bottom: 1px solid #000;
}

.heading p{
	text-transform: uppercase;
	color: #444;
	font-weight: 300;
	margin-top: 10px;
	font-size: 16px;
}

.services{
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

#coding{
	background-color: #1abc9c;
}

#support{
	background-color: #ec523f;
}

#design{
	background-color: #3498db;
}

#mobile{
	background-color: #2ecc71;
}

.service {
	color: #fff;
	text-align: center;
	width:23%;
	position: relative;
}

.service-icon{
	padding: 110px 0;
	font-size: 48px;
	transition: all .3s ease-in-out;
}

.service-content{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all .3s ease-in-out;
}

.service:hover .service-icon {
	opacity: 0;
}

.service:hover .service-content{
	opacity: 1;
}

.inner-service{
	padding: 30px;
}

.inner-service h1{
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.inner-service p {
	font-size: 13px;
	line-height: 23px;
}

.gallery-wrapper{
	text-align: center;
	height: 55%;
	padding-top: 100px;
}

.galleries {
	padding: 80px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.gallery{
	width: 262px;
	margin-bottom: 30px;
	position: relative;
}

.gallery img{
	width: 100%;
}

.gallery-overlay{
	color: #fff;
	background-color: #ec523f;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 25px;
	opacity: 0;
	transition: all .3s ease-in-out;
}

.gallery-overlay h3{
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.gallery-overlay p {
	font-size: 13px;
	line-height: 23px;
}

.gallery:hover .gallery-overlay{
	opacity: 1;
}


.team-wrapper{
	text-align: center;
	height: 55%;
	padding-top: 100px;
}

.team{
	display: flex;
	justify-content: space-between;
	padding: 80px 0;
}

.member{
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.member img {
	width: 250px;
	display: block;
}

.member-overlay{
	color: #fff;
	background-color: #ec523f;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 25px;
	opacity: 0;
	transition: all .3s ease-in-out;
	display: flex;
}

.member-content{
	margin: auto;
}

.member-overlay h3{
	font-size: 18px;
	text-transform: uppercase;
	margin: auto;
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
}

.member-overlay span {
	font-size: 16px;
	margin-top: 10px;
	display: block;
}

.member:hover .member-overlay{
	opacity: 1;
}

.contact-wrapper{
	text-align: center;
	height: 55%;
	padding-top: 100px;
}

.contact{
	padding: 80px;
	border: 8px solid #ddd;
	display: flex;
	margin-top: 80px;
	margin-bottom: 80px;
}

.message{
	width: 60%;
	margin-right: 40px;
}

.form{
	width: 40%;
}

.message p{
	text-align: left;
	margin-bottom: 15px;
	line-height: 20px;
	font-size: 15px;
}

.form-input{
	padding: 8px;
	border: 1px solid #ddd;
	display: block;
	margin-bottom: 10px;
	width: 100%;
}

textarea{
	font-family: Arial, Helvetica, sans-serif;
}

.btn-message{
	background-color: #ec523f;
	color: #fff;
	text-transform: uppercase;
	box-sizing: unset;
}

.footer{
	padding: 10px;
	color: rgb(80, 80, 80);
	font-size: 15px;
}
